name: Deploy to NPM

on:
  push:
    # If you add a branch here, you **MUST** create a branch rule in Github settings
    branches: ["*.*.x", "*.x", "master", "next", "next-major", "beta", "alpha"]

  workflow_dispatch: # trigger manually
    inputs:
      dry_run:
        description: "NPM release dry-run"
        required: true
        default: "true"

jobs:
  # Gihub Actions do not allow regex validation for numbers in *.*.x branch names
  validate_branch_name:
    runs-on: ubuntu-latest # Use a standard runner for Trusted Publishing
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Validate branch name
        run: |
          branch_name=$(echo $GITHUB_REF | cut -d'/' -f3)
          if [[ $branch_name =~ ^[0-9]+(\.[0-9]+)?\.x$ ]] || [[ $branch_name == "master" ]] || [[ $branch_name == "next" ]] || [[ $branch_name == "next-major" ]] || [[ $branch_name == "beta" ]] || [[ $branch_name == "alpha" ]]; then
            echo "Branch name is valid"
          else
            echo "Branch name is invalid"
            exit 1
          fi

  unit_tests:
    needs: [validate_branch_name]
    runs-on: [self-hosted, ubuntu-22-04, regular]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up repo submodules
        run: git submodule update --init --recursive

      - name: Setup Node Environment
        uses: ./.github/setup-node

      - name: Build
        run: npm run asbuild

      - name: Build and run Auth example
        run: cd examples/auth && npm install && npm run asbuild

      - name: Build and run Add Header example
        run: cd examples/addheader && npm install && npm run asbuild

  fossa:
    needs: [validate_branch_name]
    uses: ./.github/workflows/fossa.yaml
    secrets:
      FOSSA_PUB_API_KEY: ${{ secrets.FOSSA_PUB_API_KEY }}

  npm_release:
    needs: [unit_tests, fossa]
    uses: ./.github/workflows/release.yaml
    with:
      dry_run: ${{ github.event.inputs.dry_run || 'true' }}
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
