name: Pull Request Requirements

on:
  pull_request:
    branches: ["*.*.x", "*.x", "master", "next", "next-major", "beta", "alpha"]

jobs:
  unit_tests:
    runs-on: [self-hosted, ubuntu-22-04, regular]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node Environment
        uses: ./.github/setup-node

      - name: Build
        run: npm run asbuild

      - name: Build and run Auth example
        run: cd examples/auth && npm install && npm run asbuild

      - name: Build and run Add Header example
        run: cd examples/addheader && npm install && npm run asbuild
